.section {
  background-image: url("../../../assets/images/shop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
  .products-grid {
    margin-top: 3rem;
  }
}

.container {
  background-color: white;
  border-radius: 3rem;
  padding: 3rem;
}



