<app-navigation></app-navigation>
<div class="banner">
  <div class="columns">
    <div class="column1">
      <p>New release</p>
      <h1 class="special-text">FEEL<br>AUTHENTIC<br>Peace</h1>
      <button type="button" [routerLink]="'shop'" class="button1">Shop now&nbsp;&nbsp;<i [ngStyle]="{
      }" class="bi bi-arrow-right"></i></button>
    </div>
    <div class="column2">
      <img class="image1" src="assets/images/clothing.jpg" height="500px" alt="Man with suit">
    </div>
  </div>
</div>
<div class="section">
  <h1>What we do</h1>
  <p>Angular is a TypeScript-based, free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
</div>
<div class="second-section">
  <h1 [ngStyle]="{
    'text-align': 'center',
    'margin-bottom': '5rem'
  }">Our <b [ngStyle]="{
    'background-color': 'orange',
    'color': 'white',
    'padding-right': '0.4rem',
    'padding-left': '0.4rem',
    'border-radius': '0.5rem'
  }">products</b></h1>
  <div [ngStyle]="{
    'max-width': '70%',
    'margin': '0 auto'
  }">
    <app-products></app-products>
  </div>
</div>
<app-footer></app-footer>

