<div>
  <div class="menu">
    <div class="menu-wrapper">
      <div class="menu-sec-wrapper">
        <div class="menu-container" *ngFor="let item of navigationItems">
          <p class="menu-item" [routerLink]="item.url">{{ item.name }}</p>
        </div>
      </div>
      <div class="menu-sec-wrapper">
        <img class="logo" [routerLink]="''" src="assets/images/logo.png" alt="Logo">
      </div>
      <div class="menu-sec-wrapper">
          <div class="menu-item" >
            <span class="floating-number">{{ appService.getShoppingCartProducts.length }}</span>
            <div class="cart-modal" #menu *ngIf="appService.isCartModalOpen">
              <h3 class="cart-title">Products ({{ appService.getShoppingCartProducts.length}})</h3>
              <p class="cart-subtitle" *ngIf="appService.getShoppingCartProducts.length == 0; else itemsBlock">No has agregado productos a tu carrito</p>
              <ng-template #itemsBlock>
                <div class="productsList">
                  <div class="cart-items-container" *ngFor="let product of appService.getShoppingCartProducts">
                    <div class="cart-item-data">
                      <p class="cart-product-name">{{product.name}}</p>
                      <p class="cart-subtitle">${{product.price}}</p>
                    </div>
                    <div class="cart-item">
                      <img class="product-image" [src]="product.image" [alt]="product.description">
                      <div class="cart-totals">
                        <p class="total-switcher" (click)="appService.handleProductAction(2, product)">-</p>
                        <p class="amount">{{product.cartQuantity}}</p>
                        <p class="total-switcher" (click)="appService.handleProductAction(1, product)">+</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-item-total">
                  <h3>Total:</h3>
                  <p>${{appService.cartTotal}}</p>
                </div>
                <div [ngStyle]="{ 'padding': '0.5rem' }">
                  <button type="button" [routerLink]="'cart'" class="button">Go to checkout&nbsp;&nbsp;<i [ngStyle]="{
                  }" class="bi bi-wallet2"></i></button>
                </div>
              </ng-template>
            </div>
            <i (click)="openCart()" [ngStyle]="{
              'font-size': '1.7rem'
            }" class="bi bi-cart4" #toggleButton></i>
          </div>
      </div>
    </div>
  </div>
</div>
